@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:wght@400;700&display=swap");
html {
  display: block;
  box-sizing: border-box;
}

.input-area {
  border-radius: 10px;
  background-color: #f2f2f2;
  padding: auto;
  margin: 0 auto;
  min-width: 340px;
  max-width: 700px;
  width: 95%;
}

h1 {
  font-size: 2rem;
  text-align: center;
  font-family: "Lobster", cursive;
}

.add-note-form {
  padding: 10px;
  border: 2px solid darkgrey;
  border-radius: 10px;
}

fieldset {
  border: none;
  font-family: "Atkinson Hyperlegible", sans-serif;
}

.form-control {
  width: 100%;
  padding: 12px 20px;
  margin: 10px auto;
  display: flex;
  border: 3px solid #ccc;
  border-radius: 10px;
  box-sizing: border-box;
  font-family: inherit;
  font-size: inherit;
}

textarea {
  resize: vertical;
}

label {
  font-size: 1.1rem;
  font-weight: 600;
}

.submit {
  width: 100%;
  background-color: #5A5A5A;
  color: white;
  padding: 15px 15px;
  margin: 0 auto;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: "Atkinson Hyperlegible", sans-serif;
  font-size: 1.2rem;
}

.submit:hover {
  filter: brightness(80%);
}

.submit:active {
  transform: translate(3px, 3px);
}

.no-notes {
  text-align: center;
  color: red;
  font-weight: bold;
}

.notes-list {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin: 5px auto;
}

.note-card {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  word-wrap: break-word;
  min-width: 340px;
  max-width: 700px;
  width: 30%;
  height: 500px;
  margin-right: 5px;
  margin-top: 5px;
  padding: 10px;
  font-size: large;
  border: 2px solid darkgrey;
  border-radius: 10px;
  background-color: #f2f2f2;
}

.edit {
  text-align: center;
  font-size: 1rem;
  color: black;
  font-family: "Lobster", sans-serif;
}

p {
  font-family: "Atkinson Hyperlegible", sans-serif;
  word-wrap: break-word;
  max-width: 100%;
}

.note-text {
  flex-grow: 1;
  overflow-y: scroll;
  max-height: 240px;
}

ul {
  display: inline;
  margin-top: auto;
  border-top: solid 2px #ccc;
}

li {
  list-style: none;
  color: #7b7b7b;
  font-family: "Atkinson Hyperlegible", sans-serif;
}

.date {
  float: left;
  max-width: 30%;
  font-family: "Atkinson Hyperlegible", sans-serif;
  font-size: 0.9rem;
  word-wrap: break-word;
}

.card-button-main {
  float: right;
  font-size: 1rem;
  background-color: #5A5A5A;
  color: white;
  padding: 10px 10px;
  margin: 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: "Atkinson Hyperlegible", sans-serif;
}

.card-button-main:hover {
  filter: brightness(80%);
}

.card-button-main:active {
  transform: translate(3px, 3px);
}

.card-button-secondary {
  float: right;
  font-size: 1rem;
  background-color: #E0E0E0;
  color: #5A5A5A;
  padding: 10px 10px;
  margin: 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: "Atkinson Hyperlegible", sans-serif;
}

.card-button-secondary:hover {
  filter: brightness(80%);
}

.card-button-secondary:active {
  transform: translate(3px, 3px);
}

.edit-note {
  display: inherit;
}

.save-note {
  display: none;
}
